<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Suas Empresas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card *ngFor="let item of companies">
 
      <ion-card-header>
        {{ item.name }}
      </ion-card-header>
 
      <ion-card-content>
        <p><strong>{{ item.goJob }}</strong> -  <strong *ngIf="!item.isMyActualJob"> {{ item.outJob }} </strong><strong *ngIf="item.isMyActualJob"> até o momento</strong></p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button color="danger" ion-button icon-start clear small (click)="removeCompany(item.id)">
            <ion-icon name="ios-trash-outline"></ion-icon>
            <div>Remover</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small (click)="updateCompany(item.id)">
            <ion-icon name="ios-trash-outline"></ion-icon>
            <div>Atualizar</div>
          </button>
        </ion-col>
      </ion-row>
 
    </ion-card>

</ion-content>
