<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Adicionar Empresa
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="ios-compass-outline"></ion-icon> Onde estou?</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>
 
<ion-content>

  <ion-list>

	  <ion-item>
	    <ion-label color="primary">Nome</ion-label>
	    <ion-input placeholder="Digite o nome da empresa." [(ngModel)]="company.name"></ion-input>
	  </ion-item>

		<ion-item>
		  <ion-label>Data de entrada</ion-label>
		  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="company.goJob"></ion-datetime>
		</ion-item>

	   <ion-item>
	     <ion-label>Eu trabalho aqui</ion-label>
	     <ion-checkbox [(ngModel)]="company.isMyActualJob"></ion-checkbox>
	   </ion-item>

		<ion-item *ngIf="!company.isMyActualJob">
		  <ion-label>Data de saida</ion-label>
		  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="company.outJob"></ion-datetime>
		</ion-item>

  </ion-list>

<ion-list>
  <ion-item *ngFor="let address of addresses">
    {{address.description}}
    <button ion-button outline item-end icon-start color="danger" (click)="removeAddress(address)">
      <ion-icon name="trash"></ion-icon>
      Remover
    </button>
  </ion-item>
</ion-list>

	<ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Buscar pelo endereço da empresa"></ion-searchbar>
	<ion-list [hidden]="autocompleteItems.length == 0">
	  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
	    {{ item.description }}
	  </ion-item>
	</ion-list>
  <!-- <div #map id="map"></div> -->

  <button ion-button full color="primary" (click)="addCompany()">Gravar</button>



</ion-content>